<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link rel="stylesheet" href="../static/editormd/css/editormd.min.css" />
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
        <div class="card m-3">
        <center class="m-3"><h4>Control Panel</h4></center>
        <details class="m-3">
        <summary>Problem</summary>
        <div class="card">
        <form method="post" action="/api/problem" class="m-3" enctype="multipart/form-data" >
            <div class="form-check mb-3">
                <input type="radio" class="form-check-input" value="del" name="type" id="radio1"><label class="form-check-label" for="radio1">Delete</label>
            </div>
            <div class="form-check mb-3">
                <input type="radio" class="form-check-input" value="add" name="type" id="radio2"><label class="form-check-label" for="radio2">Addition</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Problem ID" name="id">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Problem Name (If type is Addition)" name="name">
            </div>
            <div class="input-group mb-3">
                <div id="editor" class="form-control"><textarea placeholder="Problem Description (If type is Addition)" name="description"></textarea></div>
            </div>
            <p>All Judge File (.zip) (If type is addition): </p>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="file" />
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Problem Judge File Count (If type is Addition)" name="count">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </details>
        <details class="m-3">
        <summary>User</summary>
        <div class="card">
        <form method="post" action="/api/user" class="m-3" enctype="multipart/form-data" >
            <div class="form-check mb-3">
                <input type="radio" class="form-check-input" value="del" name="type" id="radio1"><label class="form-check-label" for="radio1">Delete</label>
            </div>
            <div class="form-check mb-3">
                <input type="radio" class="form-check-input" value="add" name="type" id="radio2"><label class="form-check-label" for="radio2">Addition</label>
            </div>
            <div class="form-check mb-3">
                <input type="radio" class="form-check-input" value="ban" name="type" id="radio3"><label class="form-check-label" for="radio2">Ban</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Password (If type is Addition)" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </details>
        <details class="m-3">
        <summary>Backup</summary>
        <div class="card">
            <div class="m-3">
                <a class="btn btn-primary" href="/backup?password={{ admin_password }}">Download Backup</a>
            </div>
            <hr />
            <form method="post" action="/api/backup" class="m-3" enctype="multipart/form-data" >
                <input type="password" value="{{ admin_password }}" readonly style="display: none;" name="passwd">
                <p>Upload backup file: </p>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="file" />
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        </details>
        <details class="m-3">
        <summary>Content</summary>
        <div class="card">
            <div class="m-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Problems (Use ';' split)" id="problems">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Time (Minute)" id="time">
            </div>
            <script>
                function generate_content_link() {
                    alert("The link is '" + location.origin + "/content?problems=" + document.getElementById('problems').value + "&time=" + document.getElementById('time').value + "'")
                }
            </script>
            <button class="btn btn-primary" onclick="generate_content_link()">Generate Link</button>
            </div>
        </div>
        </details>
        </div>
        <details class="m-3">
        <summary>Problems</summary>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">&emsp;#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <th scope="row"><a class="btn btn-link" href="/{{ problem['id'] }}">{{ problem['id'] }}</a></th>
                    <td>{{ problem['name'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        </details>
        <details class="m-3">
        <summary>Users</summary>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">&emsp;#</th>
                    <th>&ensp;&nbsp;Name</th>
                    <th>Email</th>
                    <th>Ban</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(len(users)) %}
                <tr>
                    <th>&emsp;{{ i + 1 }}</th>
                    <td><a class="btn btn-link" href="/profile?username={{ users[i]['username'] }}">{{ users[i]['username'] }}</a></td>
                    <td>{{ users[i]['email'] }}</td>
                    <td>{{ users[i]['ban'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        </details>
        </div>
        <script src="../static/jquery.min.js"></script>
        <script src="../static/editormd/editormd.js"></script>
        <script type="text/javascript">
            var editor;
            $(function() {
                editor = editormd("editor", {
                    height: "50vh",
                    syncScrolling: "single",
                    path: "../static/editormd/lib/"
                });
            });
        </script>
    </body>
</html>
