<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rank">排行</a>
            </li>
        </ul>
        <iframe id="iframe" style="border: 0; width: 100%; height: 50vh;" src="/frame_content?problems={{ problems }}"></iframe>
        <div class="m-3">
            <button onclick="submit();" class="btn btn-primary">提交</button>
            <button onclick="document.getElementById('iframe').contentWindow.location.reload();" class="btn btn-primary">刷新</button>
            <div class="m-2">
                <span>计时器: </span><span id="timer"></span>
            </div>
        </div>
        <script>
            var submit = () => {
                var score = (document.getElementById('iframe').contentWindow.document.getElementsByClassName('bi-check-lg').length) * 100;
                alert("Your score is " + score / {{ len(problems) }} + '.');
                location.href = "/";
            }
            var time = {{ time }} * 60;
            var interval = setInterval(() => {
                if (time === 0) {
                    submit();
                    clearInterval(interval);
                }
                var minute = (Math.floor(time / 60)).toString().padStart(2, '0');
                second = (time - minute * 60).toString().padStart(2, '0');
                document.getElementById('timer').innerText = minute + ":" + second;
                time--;
            }, 1000);
        </script>
    </body>
</html>
