<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/bootstrap.min.css">
		<script src="../static/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		<ul class="nav justify-content-end nav-tabs">
			<li class="nav-item">
				<a class="nav-link active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/rank">Rank</a>
			</li>
			<li class="nav-item">
				<div class="dropdown">
				<a class="dropdown-toggle btn nav-link" data-bs-toggle="dropdown" aria-expanded="false">Welcome, {{ username }}</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="/profile?username={{ username }}">Profile</a>
					</li>
					<li>
						<a class="dropdown-item" href="/change_profile">Change Profile</a>
					</li>
					<li>
						<a class="dropdown-item" href="/logout">Logout</a>
					</li>
				</ul>
			</li>
		</ul>
		<table class="table">
			<thead>
				<tr>
					<th scope="col" width="5%"></th>
					<th scope="col">&emsp;#</th>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				{% for problem in problems %}
    			<tr>
    				<td>{% if problem['id'] in ac %}<svg color="green" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"/>
</svg>{% endif %}</td>
        			<th scope="row"><a class="btn btn-link" href="/{{ problem['id'] }}">{{ problem['id'] }}</a></th>
        			<td>{{ problem['name'] }}</td>
    			</tr>
				{% endfor %}
  			</tbody>
		</table>
	</body>
</html>
