<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
        </ul>
        <div class="card m-3">
        <form method="post" action="/api/login" class="m-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="用户名" name="username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="密码" name="password">
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
        <details class="m-3">
        <summary>注册</summary>
        <div class="card">
        <form method="post" action="/api/register" class="m-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="用户名" name="username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="密码" name="password">
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="邮箱" name="email">
            </div>
            <button type="submit" class="btn btn-primary">注册</button>
        </form>
        </div>
        </details>
        </div>
    </body>
</html>