<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
        </ul>
        <div class="card m-3">
            <center class="card-title m-3">
                <h1>{{ user['username'] }}</h1>
            </center>
            <div class="card-body">
                {{ user['profile']|safe }}
                <button class="btn btn-primary" onclick="history.back()">返回</button>
            </div>
        </div>
    </body>
</html>
