<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">排名</a>
            </li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">&emsp;#</th>
                    <th>&ensp;&nbsp;用户名</th>
                    <th>已通过题目数</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(len(users)) %}
                <tr>
                    {% if i > 0 and len(users[i]['ac']) == len(users[i - 1]['ac']) %}
                    <th>&emsp;{{ i }}</th>
                    {% else %}
                    <th>&emsp;{{ i + 1 }}</th>
                    {% endif %}
                    <td><a class="btn btn-link" href="/profile?username={{ users[i]['username'] }}">{{ users[i]['username'] }}</a></td>
                    <td>{{ len(users[i]['ac']) }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </body>
</html>
