<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <ul class="nav justify-content-end nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
        </ul>
        <div class="card m-3">
        <div class="m-3">
            <p>结果: </p>
            <textarea type="text" class="form-control">{{ result }}</textarea>
            <a href="javascript:window.history.back();" class="btn btn-link">返回</a>
        </div>
        </div>
    </body>
</html>